.patientslist > li, .doctorslist > li {
    list-style: none;
    border-bottom: 2px solid rgb(15, 134, 182);
    padding: 20px;
    text-align: left;
    padding-right: 20px;
    margin-right: 40px;
    font-size: 25px;
}

.deleteIcon {
    float: right;
    color: #0a3481;
}

.heart {
	width: 50px;
	height: 50px;
	animation: heart 1s ease-in infinite;
}

@keyframes heart {
    0% {transform: scale(1);}
    15% {transform: scale(1.3);}
    30% {transform: scale(1);}
    45% {transform: scale(1.3);}
    60% {transform: scale(1);} 
}
  