.avatar {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    float: left;
    margin-left: 40px;
}

.obsh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.photoShell {
    display: inline-block;

}
.editor {
    flex: 1 1 25%;

}

.editBtn {
    margin-top: 30px;
    margin-left: 40px;
    display: inline-block;
    width: 200px;
    line-height: 52px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    background: linear-gradient(0deg, #1d7deb 0%, #0a3481 100%);
    border: none;
}
  .editBtn:hover {
    background: linear-gradient(0deg, #0a3481 0%, #1d7deb 100%);
  }

.editor {
    text-align: left;
}

.editIcon {
    font-size: 30px;
    color: #0a3481;
    margin-left: 30px;
}

.firstNameShell, .lastNameShell, .patronymicShell, .educationShell, .workExperienceShell {
    display: inline-block;
    padding-left: 50px;
}
.lastNameShell, .patronymicShell, .educationShell, .workExperienceShell {
    padding-top: 20px;
}
.firstNameTitle, .lastNameTitle, .patronymicTitle, .educationTitle, .workExperienceTitle {
    display: inline;
    color: #0a3481;
}
.firstName, .lastName, .patronymic, .education, .workExperience {
    width: 300px;
    height: 30px;
}
.firstName {
    margin-left: 100px;
}
.lastName {
    margin-left: 63px;
}
.patronymic {
    margin-left: 62px;
}
.education, .workExperience {
    margin-left: 32px;
}

.info {
    display: inline-block;
}